@model IEnumerable<WebApplication.Models.File>

@{
    ViewBag.Title = "Files";
}

<h2>Files</h2>

<p>
    <input type="file" id="file" multiple name="file" style="display:none;" onchange="uploadFiles()" />
    <button class="btn btn-success" id="button" name="button" value="Upload" onclick="selectFiles()">Upload</button>

    <span style="float: right">
        <input class="date" type="date" value="@ViewBag.Date" /> :
        <input class="date" type="date" value="@ViewBag.Date" />

        <button class="btn btn-primary" onclick="exportToExcel()">Export to excel</button>
    </span>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadingDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.FileName, "DownloadFile", new { item.FileName })
            </td>
            <td>
                @{ string size = "";
                    if (item.FileSize > Math.Pow(1024, 4))
                    {
                        size = Math.Round(item.FileSize / Math.Pow(1024, 4), 2) + " TB";
                    }
                    else if (item.FileSize > Math.Pow(1024, 3))
                    {
                        size = Math.Round(item.FileSize / Math.Pow(1024, 3), 2) + " GB";
                    }
                    else if (item.FileSize > Math.Pow(1024, 2))
                    {
                        size = Math.Round(item.FileSize / Math.Pow(1024, 2), 2) + " MB";
                    }
                    else if (item.FileSize > 1024)
                    {
                        size = Math.Round((double)(item.FileSize / 1024), 2) + " KB";
                    }
                    else
                    {
                        size = item.FileSize + " bytes";
                    }
                }
                @size
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadingDate)
            </td>
            <td>
                <button class="btn btn-danger" onclick="deleteFile(@item.FileId)">Delete</button>
            </td>
        </tr>
    }

</table>

<script>
    function exportToExcel() {
        var date = $(".date")[0].value + ":" + $(".date")[1].value;
        window.location.href = "@Url.Action("ExportToExcel")" + "?date=" + date;
    };

    function selectFiles() {
        $("#file").click();
    };

    function uploadFiles() {
        var fileUpload = $("#file").get(0);
        var files = fileUpload.files;

        var fileData = new FormData();

        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }

        $.ajax({
            url: '/UploadFile',
            type: 'post',
            datatype: 'json',
            contentType: false,
            processData: false,
            async: false,
            data: fileData,
            success: function (response) {
                location.reload();
            }
        });
    };

    function deleteFile(id) {
        $.ajax({
            url: '/DeleteFile',
            type: 'post',
            data: { 'id': id },
            async: false,
            success: function (response) {
                location.reload();
            }
        });
    }
</script>